<div class="page-header">
  <h1>Pomo D'Oro</h1>
</div>

<div ng-repeat="todo in todos | orderBy:'-upvotes'">
  <span style="font-size:20px; margin-left:10px;">
    <a href="users/{{user_id}}/todos/{{todo.id}}">
      {{todo.title}}
    </a>
    <div class='todo-desc' ng-show="todo.description">
      {{todo.description}}
    </div>
    <ul class="pomodoro-list clear" >
      <div ng-repeat="completed in iterate(todo.completed_pomos)">
        <li><img src="<%= image_path('Golden_Apple_Small.png') %>" ></img>
        </li>
      </div>
      <div ng-repeat="expected in iterate(todo.expected_pomos - todo.completed_pomos)">
        <li><img src="<%= image_path('Golden_Apple_Small.png')%>" class="inactive-pomo">
        </img></li>
      </div>
    </ul>
  </span>
</div>

<form ng-submit="addTodo()"
  style="margin-top:30px;">
  <h3>Add a New Task</h3>

  <div class="task-input-title">
    <input type="text"
    class="form-control"
    placeholder="Title"
    ng-model="title"></input>
  </div>
  <div class="task-input-desc">
    <input type="text"
    class="form-control"
    placeholder="Description"
    ng-model="desc"></input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
