<div ng-hide="signedIn()">
  <div class="page-header">
    <h1>Pomo D'Oro</h1>
  </div>

  <table ng-table="vm.tableParams" class="table" show-filter="true">
      <tr ng-repeat="todo in $data">
          <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
              {{todo.title}}</td>
          <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
              {{todo.description}}</td>
      </tr>
  </table>

  <form ng-submit="addTodo()"
    style="margin-top:30px;">
    <h3>Add a New Task</h3>

    <div class="task-input-title">
      <input type="text"
      class="form-control"
      placeholder="Title"
      ng-model="title"></input>
    </div>
    <div class="task-input-desc">
      <input type="text"
      class="form-control"
      placeholder="Description"
      ng-model="desc"></input>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
