<h1>{{todo.title}}</h1>

<div>{{todo.description}}</div>
<div ng-show="todo.started">Started: {{formatTime(todo.time_started)}}</div>
<div ng-show="todo.finished">Completed: {{formatTime(todo.time_finished)}}</div>
<div class="pomo-items clear"> Pomo D'Oros
  <div ng-repeat="complete in iterate(todo.completed_pomos)">
    <img class='completed-pomo' ng-click="markCompleted(complete)" src="<%= image_path('Golden_Apple_Small.png')%>">
  </div>
  <div ng-repeat="expected in iterate(todo.expected_pomos - todo.completed_pomos)">
    <img class="expected-pomo" src="<%= image_path('Golden_Apple_Small.png')%>">
  </div>
</div>
<div class="todo-options">
  <div ng-show="todo.timer" ng-click="start()">Start Timer</div>
  <div ng-hide="todo.timer" ng-click="pause()">Pause Timer</div>
  <div ng-click="complete()">Complete Task</div>
  <div ng-click="edit()">Edit Task</div>
  <div ng-click="delete()">Delete Task</div>
</div>
