<div id="title">
  <span>Pomo D'Oro</span>
  <img src="<%= image_path('golden-apple-logo.png') %>"></img>
</div>
<div class="collapse navbar-collapse pull-right" ng-controller="navController">
  <ul class="nav navbar-nav">
    <li><a href="#/home">Home</a></li>
    <li ng-hide="signedIn()"><a href="#/signin">Sign In</a></li>
    <li ng-hide="signedIn()"><a href="#/signup">Register</a></li>
    <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
    <li ng-show="signedIn()"><a href="#/signin" ng-click="signOut()">Sign Out</a></li>
  </ul>
</div>
<div class="clear"></div>
