.inactive-pomo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.pomodoro-list {
  position: relative;
  width: 150px;
}
.pomodoro-list li {
  position: relative;
  float: left;
  padding: 5px;
  height: auto;
  width: 50px;
}

.pomodoro-list img {
  position: relative;
  width: 100%;
  height: auto;
}
