#title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bolder;
  float: left;
}

#title span {
  margin-top: 40px;
  float: left;
}

#title img {
  height: 75px;
  width: auto;
}

.navbar-nav {
  margin-top: 40px;
}
