

.pomo-items img {
  float: left;
  margin: 5px;
  height: auto;
  width: 60px;
}

.expected-pomo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.active-pomo {
  opacity: 0;
  filter: alpha(opacity=0);
}

.todo-options > div {
  cursor: pointer;
}
